<!-- battle_p.html -->
{% extends "layout.html" %}
{% block content %}

    <h3>プレイヤーアクション</h3>
    <p></p>
    <p>{{ bm_li[0] }}が{{ bm_li[1] }}に攻撃！</p>
    <p>コマンドを選択</p>
    <form action="/input2" method="post">
        <select name="battle_cmd">
            {% for cmd in cmds %}
                <option value="{{ cmd }}">{{ cmd }}</option>
            {% endfor %}
        </select>
        <button type="submit">選択</button>
    </form>

    <p></p>
    <table border="5">
        <tr><th>名前</th><th>HP</th><th>MP</th><th>ATK</th><th>DEF</th><th>SPD</th><th>MAG</th><th>Lv</th><th>CON</th><th>Odds</th></tr>
        {% for name in names %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ m_dc[name].HP }}/{{ primitive_dc[name].HP }}</td>
                <td>{{ m_dc[name].MP }}/{{ primitive_dc[name].MP }}</td>
                <td>{{ m_dc[name].ATK }}</td>
                <td>{{ m_dc[name].DEF }}</td>
                <td>{{ m_dc[name].SPD }}</td>
                <td>{{ m_dc[name].MAG }}</td>
                <td>{{ m_dc[name].Lv }}</td>
                <td>{{ m_dc[name].CON }}</td>
                <td>{{ odds_dc[name] }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>
    <p></p>

{% endblock %}