<!-- battle_p.html -->
{% extends "layout.html" %}
{% block content %}
    <h3>{{ vic_count }}連勝中</h3>
    <br>

    {% for i in range(result_len) %}
        <p>{{ result1["result"][i] }}</p>
    {% endfor %}
    <br>
    <p>{{ result1["jdm"]}}</p>
    <p>{{ result1["jcm"]}}</p>
    <p>{{ result1["bkm"]}}</p>
    <p>{{ result1["rkm"]}}</p>
    <p></p><br>
    <h5>{{ result1["message"]}}</h5>
    <br>
    <h3>プレイヤーアクション</h3>
    <p></p>
    <p>コマンドを選択</p>
    <form action="/input_pt" method="post">
        {% if "勇者" in alive_mem %}
            <p>勇者</p>
            <select name="勇者cmd">
                {% for cmd in cmds["勇者"] %}
                    <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
            <select name="勇者ag">
                {% for mons in alive_m %}
                    <option value="{{ mons }}">{{ mons }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if "賢者" in alive_mem %}
            <p>賢者</p>
            <select name="賢者cmd">
                {% for cmd in cmds["賢者"] %}
                    <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
            <select name="賢者ag">
                {% for mons in alive_m %}
                    <option value="{{ mons }}">{{ mons }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if "パラディン" in alive_mem %}
            <p>パラディン</p>
            <select name="パラディンcmd">
                {% for cmd in cmds["パラディン"] %}
                    <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
            <select name="パラディンag">
                {% for mons in alive_m %}
                    <option value="{{ mons }}">{{ mons }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if "バトルマスター" in alive_mem %}
            <p>バトルマスター</p>
            <select name="バトルマスターcmd">
                {% for cmd in cmds["バトルマスター"] %}
                    <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
            <select name="バトルマスターag">
                {% for mons in alive_m %}
                    <option value="{{ mons }}">{{ mons }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if "スーパースター" in alive_mem %}
            <p>スーパースター</p>
            <select name="スーパースターcmd">
                {% for cmd in cmds["スーパースター"] %}
                    <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
            <select name="スーパースターag">
                {% for mons in alive_m %}
                    <option value="{{ mons }}">{{ mons }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
        <button type="submit">選択</button>
    </form>
    <p></p>
    <p>モンスターの集団</p>
    <table border="5">
        <tr><th>名前</th><th>HP</th><th>MP</th><th>ATK</th><th>DEF</th><th>SPD</th><th>MAG</th><th>Lv</th><th>CON</th></tr>
        {% for name in m_names %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ dc2[name].HP }}/{{ pri_m_dc[name].HP }}</td>
                <td>{{ dc2[name].MP }}/{{ pri_m_dc[name].MP }}</td>
                <td>{{ dc2[name].ATK }}</td>
                <td>{{ dc2[name].DEF }}</td>
                <td>{{ dc2[name].SPD }}</td>
                <td>{{ dc2[name].MAG }}</td>
                <td>{{ dc2[name].Lv }}</td>
                <td>{{ dc2[name].CON }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>勇者パーティー</p>
    <table border="5">
        <tr><th>名前</th><th>HP</th><th>MP</th><th>ATK</th><th>DEF</th><th>SPD</th><th>MAG</th><th>Lv</th><th>CON</th></tr>
        {% for yname in y_names %}
            <tr>
                <td>{{ yname }}</td>
                <td>{{ dc2[yname].HP }}/{{ pri_y_dc[yname].HP }}</td>
                <td>{{ dc2[yname].MP }}/{{ pri_y_dc[yname].MP }}</td>
                <td>{{ dc2[yname].ATK }}</td>
                <td>{{ dc2[yname].DEF }}</td>
                <td>{{ dc2[yname].SPD }}</td>
                <td>{{ dc2[yname].MAG }}</td>
                <td>{{ dc2[yname].Lv }}</td>
                <td>{{ dc2[yname].CON }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>
    <p></p>

{% endblock %}